.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #eaeaea;
  height: 70px; /* Reduced height */
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.navbar-logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar-logo-img {
  height: 50px; /* Adjust as needed */
}

.navbar-links {
  display: flex;
  gap: 3rem; /* Increased space between links */
  margin-right: 3rem; /* Move links to the right */
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  font-weight: 600; /* Make links bolder */
  padding: 0.5rem 1rem; /* Add padding for width */
  border-radius: 5px;
}

.navbar-links a:hover {
  color: #d90429;
}

.navbar-login button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #d90429; /* Red color from image */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.navbar-login button:hover {
  background-color: #b80021; /* Darker red on hover */
}
