.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  height: 70px; /* Reduced height */
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.navbar-logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar-logo-img {
  height: 50px; /* Adjust as needed */
}

.navbar-links {
  display: flex;
  gap: 3rem; /* Increased space between links */
  margin-right: 3rem; /* Move links to the right */
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  font-weight: 600; /* Make links bolder */
  padding: 0.5rem 1rem; /* Add padding for width */
  border-radius: 5px;
}

.navbar-links a:hover {
  color: #d90429;
}

.navbar-login-desktop button {
  padding: 0.5rem 1.25rem;
  border-radius: 9999px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
  font-size: 0.9rem;
  background-color: #d90429;
  color: white;
  border: none;
  cursor: pointer;
}

.navbar-login-desktop button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(217, 4, 41, 0.3);
  background-color: #b80021;
}

.navbar-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar-login-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    background: #fff;
  }

  .navbar-links.active {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navbar-links a {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar-toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .navbar-login-desktop {
    display: none;
  }

  .navbar-login-mobile {
    display: block;
    text-align: center;
    margin-top: 1.5rem;
  }

  .navbar-login-mobile button {
    width: 80%;
    padding: 1.5rem;
    font-size: 1.2rem;
  }
}